{% if app.user %}
	{% set roles = app.user.roles %}	

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
		<div
			class="container-fluid">

			<!-- Brand -->
			<a class="navbar-brand" href="{{ path( 'ROLE_ADMIN' in roles ? 'app_admin_index' : 'app_home') }}">ApprentissagePHP</a>

			<!-- Mobile toggle -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div
				class="collapse navbar-collapse" id="mainNavbar">

				<!-- LEFT NAV -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link" href="{{ path( 'ROLE_ADMIN' in roles ? 'app_admin_index' : 'app_home') }}">Home</a>
					</li>


					<!-- CRUD -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
							{{ is_granted('ROLE_ADMIN') ? "CRUD" : "Lire Driver" }}
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('crud_read') }}">{{ is_granted('ROLE_ADMIN') ? "Lire Drivers" : "Tous" }}</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('crud_read', { lastname: 'EECKHOUT' }) }}">{{ is_granted('ROLE_ADMIN') ? "Lire Driver(s) EECKHOUT" : "EECKHOUT" }}</a>
							</li>
					{% if 'ROLE_ADMIN' in roles %}
							<li>
								<a class="dropdown-item" href="{{ path('crud_createDriver') }}">Créer Driver</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('crud_updateDriversLastname', { driverId: 1 }) }}">Update Driver's 1 Lastname</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('crud_updateDriversCar', { driverId: 1 }) }}">Update Driver's 1 Voiture</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('crud_deleteDriver', { driverId: 1 }) }}">Delete Driver 1</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('crud_deleteCar', { carId: 1 }) }}">Delete Car 1</a>
							</li>
					{% endif %}
						</ul>
					</li>

					{% if 'ROLE_ADMIN' in roles %}
					<!-- Forms -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
							Forms
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('form_createDriver') }}">Créer Driver</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('form_updateDriversCar', { driverId: 1 }) }}">Modifier Driver</a>
							</li>
						</ul>
					</li>
					{% endif %}

					<!-- Twig -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
							Twig
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('twig_index') }}">Twig Home</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('twig_loop') }}">Twig Loop</a>
							</li>
						</ul>
					</li>

					<!-- DataTables -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
							DataTables
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('datatables_array') }}">Array</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('datatables_object') }}">Object</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('datatables_instance') }}">Instance</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('datatables_bdd') }}">BDD</a>
							</li>
						</ul>
					</li>
					
					<!-- Misc -->
					<li class="nav-item">
						<a class="nav-link" href="{{ path('requetes_get')}}">GET</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('requetes_post')}}">POST</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('redirection_index')}}">Redirection</a>
					</li>

				</ul>

				<!-- RIGHT NAV -->
				<ul class="navbar-nav ms-auto">

					{% if app.user %}
						<li class="nav-item">
							<span class="navbar-text text-light me-2">
								{{ app.user.username }}
							</span>
						</li>

						<li class="nav-item">
							<a class="nav-link text-danger" href="{{ path('app_logout') }}">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Login</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Register</a>
						</li>
					{% endif %}

				</ul>

			</div>
		</div>
	</nav>
{% endif %}